/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'),
    url('src/assets/fonts/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
    url('src/assets/fonts/Roboto-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Zapfino';
  font-style: normal;
  font-weight: 400;
  src: local('Zapfino'), url('src/assets/fonts/Zapfino.otf') format('opentype'); /* Safari, Android, iOS */
}
